<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <title>[title]</title>
  <!-- <link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="__CSS__/sui.min.css">
  <link rel="stylesheet" href="__CSS__/common.css">

  <!-- <script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script> -->

  <script type="text/javascript" src="__JS__/jquery.min.js"></script>
  <script type="text/javascript" src="__JS__/sui.min.js"></script>
