@charset "utf-8";
*{ box-sizing:border-box;}
article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {margin:0;padding:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {display:block;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
ul,ol,li{list-style:none;}

em,i{font-style:normal;}
html{ font-size:10px;color:#383838;background:#efefef;}
body,input,textarea,select,button{font-family:"微软雅黑",Tahoma,sans-serif;-webkit-appearance:none;border-radius: 0;}
a{color:#333;text-decoration:none; outline:none;}
a.active{color:#c4a000;}
a,button,input,p,label,div{-webkit-tap-highlight-color:rgba(255,0,0,0);}

img{border:0;width:100%;vertical-align:bottom;}

.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {zoom:1;}
.none{ display:none;}
input,textarea{border:none; }
input:focus,textarea:focus{outline: none;}
textarea{resize:none;}
button{border:none;background:none;}
address{font-style: normal;}

#wrap{ background:#efefef; min-width:320px; max-width:640px; margin:0 auto; font-size:14px; padding-bottom: 5.3em;}
@media screen and (min-width:480px) {
	#wrap {font-size:19px;}
}
@media screen and (min-width:640px) {
	#wrap {font-size:28px;}
}

.m_z{ background:#ff4f4f; color:#FFF; text-align:center;}
.h_g{ background:#feb02f; color:#FFF; text-align:center;}
.m_j{ background:#fd5e44; color:#FFF; text-align:center;}
.b_y{ background:#8fc31f; color:#FFF; text-align:center;}
.t_c{ background:#556fb5; color:#FFF; text-align:center;}
.t_g{ background:#e3000f; color:#FFF; text-align:center;}
.z_k{ background:#ff387f; color:#FFF; text-align:center;}
.z_x{ background:#35b3f5; color:#FFF; text-align:center;}

/**清除浮动**/
.clear{
	clear:both;
}

.clearfix:after{
	content:"";
	display:block;
	overflow: hidden;
	clear:both;
}
/*浮动*/
.floatL{
	float: left;
}
.floatR{
	float: right;
}
/**左右有 24px 间距**/
.g-container_padding{
	padding:0 0.857em;
}

.marginLeft12{
	margin-left: 0.429em;
}

.marginTop10{
	margin-top: 0.357em;
}

.marginTop12{
	margin-top: 0.429em;
}

.marginTop18{
	margin-top: 0.643em;
}

#wrap .marginTop20{
	margin-top: 0.714em;
}

.marginTop25{
	margin-top: 0.893em;
}

.marginTop32{
	margin-top: 1.143em;
}

#wrap .marginTop56{
	margin-top: 2em;
}

.marginBottom20{
	margin-bottom: 0.714em;
}

.marginBottom24{
	margin-bottom: 0.857em;
}

.marginRight25{
	margin-right: 0.893em;
}

.marginLeft20{
	margin-left: 0.714em;
}

.paddingBottom62-{
	padding-bottom: 2.214em;
}

.paddingLeft16{
	padding-left: 0.571em;
}

.bottom-border{
	border-bottom:1px solid #dbdbdb;
}

.bordertb{
	border-top:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

/**右侧箭头-->位于垂直居中**/
.arrow-son:after{
	display: block;
	content:"";
	width:10px;
	height: 10px;
	border-top:1px solid #989898;
	border-right:1px solid #989898;
	position: absolute;
	right:10px;
	top:40%;
	-webkit-transform:rotate(45deg)
}

/**字体大小**/
.fs20{
	font-size:0.714em;
}
.fs22{
	font-size:0.786em;
}
.fs24{
	font-size:0.857em;
}
.fs26{
	font-size:0.929em;
}
.fs28{
	font-size:1em;
}
.fs36{
	font-size: 1.286em;
}
.fs30{
	font-size: 1.071em;
}
.fs36{
	font-size: 1.286em;
}

.fs48{
	font-size: 1.714em;
}

/**常用颜色**/
#wrap .c71{
	color:#717171;
}
#wrap .c98{
	color:#989898;
}
#wrap .c57{
	color: #575757;
}
#wrap .c33{
	color:#333333;
}
#wrap .c-orange{
	color:#fc4a00;
}

#wrap .c-red{
	color:#e3000f;
}
#wrap .c-green{
	color:#8fc31f;
}

#wrap .bold{
	font-weight: bold;
}

#wrap .c-white{
	color:#FFF;
}

#wrap .disabled{
	background: #989898;
	color:#FFF;
	font-size: 0.857em;
}

.button-orange-116{
	display: inline-block;
	width:5.143em;
	height: 2.357em;
	line-height: 2.357em;
	border:1px solid #fc4a00;
	border-radius:5px;
	text-align: center;
	color:#FFFFFF;
	font-size: 1em;
	background:#fc4a00;
}

.button-gray-100{
	display: inline-block;
	width:3.571em;
	height: 1.857em;
	line-height: 1.857em;
	border:1px solid #575757;
	border-radius:5px;
	text-align: center;
	color:#575757;
	font-size: 0.857em;
	letter-spacing: 0.107em;
}

.button-gray-116{
	display: inline-block;
	width:5.5em;
	height: 2.6em;
	line-height: 2.6em;
	border:1px solid #575757;
	border-radius:2px;
	text-align: center;
	color:#575757;
	font-size: 0.857em;
}

.bgwhite{
	background: #FFF;
}

.show{
	display: block!important;
}

.hide{
	display: none!important;
}

/**ios7 开关**/
.iosCheck input {
  display: none;
}
.iosCheck i {
  display: inline-block;
  cursor: pointer;
  padding-right: 25px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 25px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
.iosCheck i:before {
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.iosCheck :checked + i {
  padding-right: 0;
  padding-left: 25px;
  background: #8fc31f;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #8fc31f;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #8fc31f;
}
.iosCheck.green :checked + i {
  background: #8fc31f;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #0093ea;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #0093ea;
}

/**幻灯片**/
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.swipe-num{
    position: absolute;
    bottom:5px;
    left:50%;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
}

.swipe-num li{
    width:10px;
    height: 10px;
    border-radius: 50%;
    background: #cacac7;
    display: inline-block;
    margin-right: 10px;
}

.swipe-num li.active{
    background: #fc4a00;
}


.label{
	padding:0.179em 0.279em;
	color:#FFFFFF;
	font-size: 0.786em;
}

.bg-pink{
	background: #ff387f;
}

.bg-green{
	background: #1e9e49;
}

.bg-sgreen{
	background: #8fc31f;
}

.bg-red{
	background:#e3000f;
}

.bg-red1{
	background:#ff2a00;
}

.bg-brick{
	background:#fd5e44;
}
.bg-blue{
	background: #556fb5;
}
.bg-skyblue{
	background:#26a9e1;
}
.bg-syellow{
	background: #fc4a00;
}

.bg-gray{
	background: #c5c5c5;
	color:#989898 !important;
}

.bg-lowblue{
	background: #26a9e1;
}


.bg-yellow{
	background: #feb02f;
}

.shake{
	-webkit-animation-duration:0.4s !important;
	animation-duration:0.4s !important;
}

.text-center{
	text-align: center;
}

/***垂直居中提示层**/
.tips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.tips {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@-webkit-keyframes tips_scale{
	to{
		-webkit-transform: scale(1);
	}
}

@keyframes tips_scale{
	to{
		transform: scale(1);
	}
}

.tipscon {
	-webkit-transform: scale(0);
	transform: scale(0);

	animation: tips_scale .3s linear forwards;
	-webkit-animation: tips_scale .3s linear forwards;

}
.tipscon {
  padding:15px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  margin: 0 20px;
  overflow: hidden;
  opacity: 1;
  color:#FFF;
  font-size: 1.25em;
  letter-spacing:2px;
}

.home_icon{
	z-index: 999;
	width: 3.428em;
	height: 3.428em;
	position: fixed;
	left: 0.892em;
	bottom:0.892em;
}
