<!-- <form class="sui-form form-dark">
  <label for="num-search">订单号：</label>
  <div class="input-control control-right">
    <input type="text" name="num-search" id="input-orderid-finished"><i class="sui-icon icon-touch-magnifier"></i>
  </div>
  <button type="button" class="sui-btn btn-primary" id="search-orderid-finished" style="margin-right:20px;">搜索</button>

  <label for="phone-search">手机号：</label>
  <div class="input-control control-right">
    <input type="text" name="phone-search"><i class="sui-icon icon-touch-magnifier"></i>
  </div>
  <button type="button" class="sui-btn btn-primary" id="" style="margin-right:20px;">搜索</button>
</form> -->
<label for=""class="pull-left">
  <span class="mycheckbox" id="select-all"></span>全选
</label>

<label class="pull-left"style="margin-left:100px;">
  <button type="button" class="sui-btn"id="finished-del-order-btn">删除所选</button>
</label>
<br><br>

<div id="finished-list">
  <foreach name="order" item="order">
  <table class="sui-table table-bordered list-table" data-id="{$order.oid}">
    <thead>
        <tr>
          <th colspan="6">
          <label class="pull-left">
            <span class="mycheckbox" data-id="{$order.oid}" data-orderseatid="{$order.orderseatid}"></span>订单编号：{$order.oid}&nbsp;&nbsp;
          </label>
          <label class="pull-left">
            订座编号：{$order.orderseatid}&nbsp;&nbsp;
          </label>
          <label class="pull-left">
            座位号：{$order.seatid}&nbsp;&nbsp;
          </label>
          <label class="pull-left">
            菜品数量：{$order.num}&nbsp;&nbsp;
          </label>
          <label class="pull-left">
            菜品总价格：{$order.money}&nbsp;&nbsp;
          </label>

          <a href="javascript:;"class="pull-left showdetail"data-orderid="{$order.id}">详情</a>

          <span class="pull-right">下单时间：{$order.ordertime}</span>
          <span class="pull-right" style="margin-right:20px;">完成时间：{$order.finishtime}</span>
          </th>
        </tr>
    </thead>
    <tbody class="order-list list-table hide"data-orderid="{$order.id}">
    <tr>
      <td colspan="6">
        <div>
          <a href="javascript:;">联系人：</a>{$order.gkname}&nbsp;&nbsp;&nbsp;
          <a href="javascript:;">手机号码：</a>{$order.gkphone}&nbsp;&nbsp;&nbsp;
          <a href="javascript:;">备注：</a>{$order.gkbz}&nbsp;&nbsp;&nbsp;
        </div>
      </td>
    </tr>
    <foreach name="order['food']" item="food">
      <tr>
        <td width="30%">
          <div class="typographic">
            <a href="#" class="block-text">{$food.foodname}</a>
            <span>共：{$food.foodnum}份</span>
            <span class="pull-right">￥{$food.foodprice}/份</span>
          </div>
        </td>
        <td width="10%" class="center">小计：{$food.foodtotalmoney}</td>
        <td width="30%" class="center">备注:{$food.foodbz}</td>

      </tr>
    </foreach>
    </tbody>
  </table>
  </foreach>
</div>
<script>
  $("#finished-del-order-btn").unbind("click");
  $("body").on("click","#finished-del-order-btn",function(){
      if( $("#finished").find(".mycheckbox-checked").length > 0 ){
        if(confirm("确定删除？")){
          var dataId = [];
          var dataSeatid = [];
          $("#finished-list").find(".mycheckbox-checked").each(function(){
              var orderid = $(this).attr("data-id");
              var orderseatid = $(this).attr("data-orderseatid");
              dataId.push(orderid);
              dataSeatid.push(orderseatid);
          });
          console.log(dataId);
          console.log(dataSeatid);

          $.ajax({
                url: "Order/delOrder",
                type: "POST",
                dataType: "json",
                async: true,
                data: {
                  dataId,
                  dataSeatid,
                },
                beforeSend:function(){
                  $("#loading").show();
                },
                success: function(data) {
                  $("#loading").hide();
                  for(var i = 0;i<dataId.length;i++){
                    $(".list-table").each(function(){
                      if($(this).attr("data-id")==dataId[i]){
                        $(this).remove();
                      }
                    })
                  }
                },
                error:function(){
                  $("#loading").hide();
                }
          })
        }
      }else{
        alert("请选择！");
      }
  })
</script>
