<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>立即购买</title>
    <link rel="stylesheet" href="../build/css/swiper-3.2.7.min.css"/>
    <link rel="stylesheet" href="../build/css/buyNow.min.css/">
    <script src="../public/hotcss.js"></script>
</head>
<body>
<header class="top2 top-shadow">
    <a href="index.html" class="back2"></a>
    立即购买
</header>
<div class="goods-selected">
    <h1>座位号：A1</h1>
    <div class="selected-list">
        <div class="goodsName"><span>柠檬鸡翅柠檬鸡翅</span> &nbsp;&nbsp;&nbsp;<span> X <span class="num">1</span></span> <span class="price"> 20</span></div>
        <div class="remark">备注：<input type="text" placeholder="是否加辣、葱花等"/></div>
        <div class="edit" style="display: none">
            <a href="javascript:;" class="delect"></a>
            <div class="edit-num">
                <a href="javascript:;" class="cut-num">-</a>
                <a href="javascript:;" class="add-num">+</a>
            </div>
        </div>
    </div>
    <div class="selected-list">
        <div class="goodsName"><span>柠檬鸡翅柠檬鸡翅</span> &nbsp;&nbsp;&nbsp;<span> X <span class="num">4</span></span> <span class="price"> 20</span></div>
        <div class="remark">备注：<input type="text" placeholder="是否加辣、葱花等"/></div>
        <div class="edit" style="display: none">
            <a href="javascript:;" class="delect"></a>
            <div class="edit-num">
                <a href="javascript:;" class="cut-num">-</a>
                <a href="javascript:;" class="add-num">+</a>
            </div>
        </div>
    </div>
    <div class="total"><span id="total-num">4</span> 份美食 <span id="total-money">￥ 80</span></div>
    <div class="add-foods"><a href="goodsList.html">+</a>添加菜肴</div>
</div>
<section class="btn">立即结算</section>
<script src="../build/js/buyNow.min.js"></script>
<script src="../public/swiper.min.js"></script>
</body>
</html>
