<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>在线选座</title>
</head>
<body>
<header class="top2 top-shadow">
    <a href="index.html" class="back2"></a>
    在线选座
</header>
<div>
<div class="seat-warp">
    <span class="seat-tit seat-titnow">大厅</span>
    <span class="seat-tit">雅座</span>
    <div id="seat-dating">
    </div>
    <div id="seat-yazuo">
    </div>
</div>

<div id="result">座位：</div>

<section class="btn btn-stop">确定</section>
</div>
<script src="../build/js/seat.min.js"></script>
</body>
</html>
