<!-- 引入头文件 -->
<include file="Common:header" title="欢迎来到后台管理系统" css="index"/>
<include file="Common:nav"/>
<div class="dl-con">
  <div id="" class="con-width dl-tab-slide">
    <h4 class="nav-tit">
      公告内容
      <div class="cutline"></div>
    </h4>
    <ul class="tab-wraped tab-vertical">
      <li>
        <a href="" data-toggle="tab" data-slide="tab1" class="slide-tab">
        公告内容
        </a>
      </li>
    </ul>
  </div>
  <div class="dl-tab-content">
      <div class="dl-nav-bar">
        <ul id="dl-nav-bar-tit">
          <li class=" nav-bar-tit dl-nav-bar-select" data-slide="tab1">
            <span class="bar-tit">公告内容</span>
            <span class="sub-tab-closeBtn"></span>
          </li>
        </ul>
      </div>
      <div class="dl-nav-con">
        <div class="tab-content tab-wraped">
          <div class="tab-pane active" data-slide="tab1">
            <div class="sui-msg msg-info">
                <div class="msg-con">状态为1表示该公告启用，状态为0表示该公告禁用</div>
                <s class="msg-icon"></s>
            </div>
            <br><br>
            <form class="sui-form">
              <table class="sui-table table-bordered">
                <thead>
                   <tr>
                     <th>公告内容</th>
                      <th>状态</th>
                     <th>操作</th>
                   </tr>
                </thead>
                <tbody>
                  <foreach name="data" item="data">
                    <tr id="tips-{$data.id}">
                      <td id="tips-con-{$data.id}">{$data.con}</td>
                      <td class="tips-status">{$data.status}</td>
                      <td>
                        <input type="hidden"value="{$data.id}">
                        <button class="sui-btn btn-lg tips-on-btn" data-id="{$data.id}">禁用</button>
                        <button data-toggle="modal" data-target="#add-modal" data-keyboard="false" class="sui-btn btn-lg tips-edit-btn">编辑</button>
                        <a href="javascript:void(0);" class="sui-btn btn-default tips-del-btn">删除</a>
                      </td>
                    </tr>
                  </foreach>
                </tbody>
              </table>
              <button data-toggle="modal" data-target="#add-modal" data-keyboard="false" class="sui-btn btn-lg" id="add-btn">添加</button>
            </form>
              <!-- Modal-->
              <div id="add-modal" tabindex="-1" role="dialog" data-hasfoot="false" class="sui-modal hide fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" data-dismiss="modal" aria-hidden="true" class="sui-close">×</button>
                      <h4 id="myModalLabel" class="modal-title">公告内容编辑</h4>
                    </div>
                    <div class="modal-body">
                      <!-- 弹窗内容 -->
                      <form class="sui-form form-horizontal sui-validate">
                          <div class="control-group">
                            <label for="inputCon" class="control-label">公告内容</label>
                            <div class="controls">
                              <textarea name="con" data-rules="required" rows="5" cols="60" id="edit-con"></textarea>
                            </div>
                          </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" data-ok="modal" class="sui-btn btn-primary btn-large" id="edit-ok">确定</button>
                      <button type="button" data-dismiss="modal" class="sui-btn btn-default btn-large">取消</button>
                    </div>
                  </div>

                </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="sui-loading loading-inline loading" id="loading" style="display: none">
  <i class="sui-icon icon-pc-loading"></i>
  <span>正在加载中</span>
</div>
<script src="__JS__/tips.js"></script>
 <!-- 引入底部文件 -->
<include file="Common:footer"/>
