@import "../public/css/common.scss";
html,body{
  background: #efefef;
}

#subtotal{
  color: $active-color;
}

#order{
  h2{
    font-size: px2rem(24);
    text-indent: px2rem(24);
    margin-bottom: px2rem(10);
  }
}
